<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
    <meta charset="UTF-8">
    <title>Directors</title>
</head>
<body>
    <header th:insert="fragments :: heading"></header>
    <main>
        <h2 th:text="#{directors.heading}">HEADING</h2>
        <table>
            <tr>
                <th th:text="#{director.directorId}">ID</th>
                <th th:text="#{director.directorName}">Director Name</th>
            </tr>
            <tr th:each="director, iterationCount :${directors}" th:class="${iterationCount.odd}? 'odd'" th:object="${director}">
                <td th:text="*{directorId}">ID</td>
                <td><a th:text="*{directorFirstName +' '+ directorLastName}" th:href="'director/'+*{directorId}">DIRECTOR FNAME</a></td>
                </tr>
        </table>
    </main>
    <footer th:insert="fragments :: languages"></footer>
</body>
</html>