<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <header th:insert="fragments :: heading"></header>

    <main>
        <h2 th:text="#{login.heading}"></h2>
        <form method="POST" th:action="@{/log_me_in}">
            <label for="username" th:text="#{login.username}">USERNAME</label>
            <input id="username" type="text" name="username"/>
            <br>
            <label for="password" th:text="#{login.password}">PASSWORD</label>
            <input id="password" type="password" name="password"/>
            <br>
            <input type="submit" th:value="#{login.login}">

        </form>
    </main>

    <footer th:insert="fragments :: languages"></footer>

</body>
</html>