# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\College_4-1\Embedded_Sys_Eng\lab_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
