<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
    <meta charset="UTF-8">
    <title>Counties</title>
</head>
<body>

    <!--Standard Table-->
    <table>
        <tr>
            <th>ID</th>
            <th>County</th>
        </tr>
        <tr th:each="county:${counties}" th:object="${county}">
            <td th:text="*{countyId}">COUNTY ID</td>
            <td th:text="*{countyName}">COUNTY NAME</td>
        </tr>
    </table>

    <br><br>

    <!--Alternating Color Rows in Table-->
    <table>
        <tr>
            <th>ID</th>
            <th>County</th>
        </tr>
        <tr th:each="county, iterationCount :${counties}" th:class="${iterationCount.odd}? 'odd'" th:object="${county}">
            <td th:text="*{countyId}">COUNTY ID</td>
            <td th:text="*{countyName}">COUNTY NAME</td>
        </tr>
    </table>

    <br><br>

    <!--Alternating Color Rows and links to each towns in county in Table-->
    <table>
        <tr>
            <th>ID</th>
            <th>County</th>
        </tr>
        <tr th:each="county, iterationCount :${counties}" th:class="${iterationCount.odd}? 'odd'" th:object="${county}">
            <td th:text="*{countyId}">COUNTY ID</td>
            <td><a th:text="*{countyName}" th:href="'/townsincounty/'+*{countyId}">COUNTY NAME</a></td>
        </tr>
    </table>
</body>
</html>