<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
    <meta charset="UTF-8">
    <title>New County</title>
</head>
<body>
    <header th:insert="fragments :: heading"></header>
    <form method="POST" th:action="@{/findfilm}" th:object="${findFilmForm}">
        <label for="filmYear" th:text="#{newFilm.filmReleaseYear}"></label>
        <input id="filmYear" type="text" th:field="*{filmReleaseYear}"/>

        <div th:if="${problem}" class="error">
            <span th:text="${filmError}"></span><span th:text="#{error.notFoundError}"></span>
        </div>

        <div th:if="${#fields.hasErrors('filmReleaseYear')}" class="error" th:errors="*{filmReleaseYear}"></div>

        <br><input type="submit" th:value="#{film.submit}"/>
    </form>
</body>
</html>